<section>
    <div class="container mt-5">
      <div class="form-center">
        <%- include ("./partials/messages"); %>
          <form action="/users/register" method="post">
            <!-- Name input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Name</label>
              <input type="text" id="form4Example1" class="form-control" name="name" value="<%= typeof name != 'undefined' ? name : '' %>"/>
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example2">Email address</label>
              <input type="email" id="form4Example2" class="form-control" name="email" value="<%= typeof email != 'undefined' ? email : '' %>"/>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example2">Password</label>
              <input type="password" id="form4Example2" class="form-control" name="password" value="<%= typeof password != 'undefined' ? password : '' %>"/>
            </div>

            <!-- Confirm Password -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example2">Confirm Password</label>
              <input type="password" id="form4Example2" class="form-control" name="confirmPassword" value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : '' %>"/>
            </div>

            <!-- Phone -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example2">Phone number</label>
              <input type="number" id="form4Example2" class="form-control" name="phone" value="<%= typeof phone != 'undefined' ? phone : '' %>"/>
            </div>
          
            <!-- Submit button -->
            <center>
                <button class="button-submit">Send</button>
            </center>
        </form>
      </div>
    </div>
</section>